/* body{
    margin: 0px;
    padding: 0px;
} */

.node{

    padding: 0px;
    width: 25px;
    height: 25px;
    outline:1px solid lightblue;
    display: inline-block;
    /* margin:1px; */
    /* margin-right: 1px ; */
    /* margin-bottom: -6px; */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* opacity: 1; */
}

.node:hover{
    /* scale: 2,2; */
    /* transform: scale(1.1,1.1); */
    /* transition: transform 0.1s; */
    /* transform:  scaleX(1.1) scaleY(1.1) ; */
    /* opacity: 0; */
} 


.inPath{
    background-color:	#0145ff  !important;
    opacity: 0.7 !important;
    border: 0px solid rgb(175, 216, 248);
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation: smallToBig 0.1s ease-out ;

}

.inPathFirst{
    /* background-color: rgb(10, 15, 59); */
    background-color: rgb(2, 36, 51);
    opacity: 0.7 ;
    animation: smallToBig 0.1s ease-out ;
    
}

.inShortestPath{
    /* background-color: yellow; */
    /* background-color:darkblue; */
    opacity: 0.7 ;
    /* border: 1px solid rgb(175, 216, 248); 
    background-color: rgb(255, 254, 106);
    animation-name: triangletwo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running; */
}

.isWall{
    background-color: black ;
    outline:1px solid #232b2e;
    opacity: 0.9 ;
    animation: smallToBig 0.1s ease-out ;
}




.isStart{
    /* background-color: red; */
    background-image: url(../../Logos/disc_icon.jpg) ;
    background-repeat: no-repeat;
    background-size:contain
    /* background: url(../../Logos/flag_icon.png); */
}



.left {
    background: url(../../Logos/left-arrow.png);
    z-index: 11;
    background-repeat: no-repeat;
    background-size:contain;
    animation: smallToBig 0.1s ease-out ;
}

.right {
    background: url(../../Logos/right-arrow.png);
    z-index: 11;
    background-repeat: no-repeat;
    background-size:contain;
    animation: smallToBig 0.1s ease-out ;
     
}

.up{
    background: url(../../Logos/up-arrow.png);
    z-index: 11;
    background-repeat: no-repeat;
    background-size:contain;
    animation: smallToBig 0.1s ease-out ;
}

.down{
    background: url(../../Logos/down-arrow.png);
    z-index: 11;
    background-repeat: no-repeat;
    background-size:contain;
    animation: smallToBig 0.1s ease-out ;
}

.isFinish{
    /* pointer-events: none; */
    background: url(../../Logos/download.svg);
    /* z-index: 10; */
    /* transform: scale(1) translate(-35%, -70%); */
    /* cursor: grab; */
    background-repeat: no-repeat;
    background-size:contain;
    animation: smallToBig 0.5s ease-out ;
    
    
}
/* @keyframes smallToBigFinish {
    0%{
        transform:  scaleX(1) scaleY(1) ;
    }
    50%{
        transform:  scaleX(1.5) scaleY(1.5) ;
    }
    100%{
        transform:  scaleX(1.1) scaleY(1.1) ;
    }
} */

@keyframes smallToBig  {
    0% {
      transform: scale(0.5);
      
      border-radius: 50%;
    }
  
    50% {
      transform: scale(0.8);
      
      border-radius: 25%;
    }
  
    75% {
      transform: scale(1.2);
      
      border-radius: 20%;
    }
  
    100% {
      transform: scale(1);
      
    }
  }